@model WebApplication1.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h4 class="text-info m-3">News</h4>

</center>
<div class="container">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
</div>