@model IEnumerable<WebApplication1.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center style="margin-top:20px;">
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
</center>
<div class="container">

    <table class="table table-hover table-dark text-center table-bordered">
        <thead class="bg-info">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Image
                </th>
                <th style="width:10%">
                    Topic
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        <img src="~/Images/News/@item.Image" width="100" height="100" />
                    </td>
                    <td style="width:10%">
                        @item.Topic
                        @*@if (item.Topic.Length > 20)
                        {
                            @item.Topic.Substring(0,20)

                        }
                        else
                        {
                            @item.Topic

                        }*@
                    </td>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
